@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 38px;

  background-color: "F5F5F5";
  margin: 0;
  padding: 0;
}
